* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cardians {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px;
  margin: 25px auto;
}
.cardian {
  width: 400px;
  padding: 10px;
  font-size: 18px;
  background-color: #ddd;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
}
.toggle {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border: solid 1px black;
  background-color: transparent;
  font-size: 20px;
  transition: all 0.3s;
}

.toggle:hover {
  background-color: #bbb9b9;
  border: none;
}
.number {
  font-size: 20px;
  color: rgb(131, 129, 129);
  margin-left: 5px;
}
.title {
  font-size: 18px;
  color: rgb(100, 98, 98);
  margin-left: 5px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
}
.text {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  background: linear-gradient(to right, green, black);
  background-clip: text;
  color: transparent;
  line-height: 20px;
}
